<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="ChimusBot" />

    <targets>
        <target xsi:type="File" name="file" fileName="./logs/chimus.log" archiveFileName="./logs/chimus_{#}.log"
                layout="${date:format=HH\:mm\:ss.fff} | ${uppercase:${level:padding=-5}} | ${logger} | ${message}${onexception:${newline}${exception:format=tostring}}"
                maxArchiveFiles="14" archiveEvery="Day" archiveAboveSize="104857600" archiveDateFormat="yyyyMMdd" />
        <target xsi:type="ColoredConsole" name="console"
                layout="${date:format=HH\:mm\:ss.fff} | ${uppercase:${level:padding=-5}} | ${logger} | ${message}${onexception:${newline}${exception:format=tostring}}" />
        <target xsi:type="EventLog" name="eventlog"
                layout="${date:format=HH\:mm\:ss.fff} | ${uppercase:${level:padding=-5}} | ${logger} | ${message}${onexception:${newline}${exception:format=tostring}}"
                machineName="." log="Application" source="ChimusBot" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Error" writeTo="eventlog" />
    </rules>
</nlog>